.navigationbar {
    overflow: hidden;
    background-color: #66a3ff;
}

.navigationbar a:hover, .dropdown:hover .dropbtn {
    background-color: #002966;
}

.navigationbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a3a8bf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.mainbody {
    overflow: hidden;
    min-height: 800px;
    background-color: #f9f9f9;
}

.mainbody .textstyling {
    padding: 20px 30px;
}

.mainbody .videodiv {
    padding-top: 100px;
    padding-left: 150px;
    position: relative;
}

.mainbody .graduationdiv {
    padding-top: 20px;  
    padding-left: 70px;
    max-width: 1000px;
}

.mainbody .studentdiv {
    float: left;
    padding: 20px 70px;
    max-width: 900px;
}

.mainbody .photodiv {
    float: left;
    padding: 20px 150px;
}

.mainbody .interests {
    padding-top: 30px;
    padding-left: 100px;
    max-width: 1000px;
}

.mainbody .coordinatordiv{
    float: left;
    padding: 20px 70px;
    max-width: 900px;
}

.mainbody .researchdiv{
    float: left;
    padding: 20px 70px;
    max-width: 900px;
}

.mainbody .contactdiv{
    float: left;
    padding: 20px 70px;
    max-width: 900px;
}

.mySlides {
    display: none;
}

.mySlides .img{
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 0px 3px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}